.footer {
  padding-top: 80px;
  @include d(991) {
    padding-top: 40px;
  }
  &_top {
    padding-bottom: 50px;
    @include d(991) {
      padding-bottom: 30px;
    }
  }
  &-logo {
    max-width: 200px;
    @include d(1199) {
      position: relative;
      top: -25px;
    }
    @include d(991) {
      top: -250px;
    }
    @include d(767) {
      max-width: 130px;
      top: -20px;
      left: calc(100% - 130px);
    }
    @include d(575) {
      display: block;
      position: static;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__list-box {
    @include d(580) {
      margin-bottom: 20px;
      padding-left: 35vw;
    }
    .footer__list-header {
      font-size: 14px;
      padding-left: 20px;
      margin-bottom: 30px;
      font-weight: 500;
      margin-top: 10px;
      @include d(991) {
        margin-bottom: 10px;
        margin-top: 0;
      }
    }
  }
  &__list {
    li {
      font-size: 14px;
      line-height: 1.6em;
    }
  }
  &__list-box_double {
    @include d(580) {
      margin-bottom: 20px;
    }
    .footer__list-header {
      margin-top: 0;
      font-size: 14px;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 500;
      margin-top: 10px;
      @include d(991) {
        margin-bottom: 10px;
        margin-top: 20px;
      }
      @include d(580) {
        margin-top: 0;
      }
    }
  }
  &__list_double {
    column-count: 2;

    li {
      font-size: 14px;
      line-height: 1.6em;
    }
  }

  &_bottom {
    border-top: 1px solid $gray-light;
    padding: 60px 0 50px 0;
    @include d(991) {
      padding: 20px 0;
    }
  }

  .copyright {
    font-size: 14px;
    color: $gray;
    @include d(767) {
      font-size: 10px;
    }
  }

  &-nav {
    text-align: center;

    li {
      display: inline-block;

      &:last-child>a {
        color: $blue;
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        font-size: 14px;
      }
    }
  }

  &-social {
    text-align: right;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}