.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, .5);
  z-index: -1;
  opacity: 0;
  transition: opacity .2s z-index 0;
  display: none;
  pointer-events: none;

  &_active {
    display: block;
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
  }
}

.modal-form_active {
  display: block;
  opacity: 1;
  z-index: 100;
  pointer-events: auto;
}

.custom-modal {
  background-color: $white;
  @include border-radius;
  padding: 24px 24px 48px 24px;
  max-width: 690px;
  width: 90%;
  max-height: 570px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity .2s;
  z-index: -1;
  pointer-events: none;
}

.modal {
  &__buttons {
    display: flex;
    justify-content: flex-end;

    .svg {
      width: 26px;
      height: 26px;
      fill: rgba($black, .6);
      transition: fill .2s;
    }

    a:hover {
      .svg {
        fill: $red;
      }
    }
  }

  &__content {
    margin: 0 auto;
    text-align: center;

    .svg {
      margin: 0 auto;
      width: 48px;
      height: 48px;
      fill: $green;
    }

    p {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  .button {
    align-self: center;
  }

  &_active {
    opacity: 1;
    z-index: 101;
    pointer-events: auto;
  }
}


.form {
  h2 {
    margin-bottom: 30px;
  }

  label {
    position: relative;
    padding-bottom: 10px;
    display: block;
    text-align: left;

    .custom-input {
      background-color: $gray-bg;
      border: 1px solid $gray-light;
    }

    span {
      font-size: 10px;
      padding-left: 20px;
      color: $gray-light;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  textarea {
    background-color: $gray-bg;
    border: 1px solid $gray-light;
    margin-bottom: 10px;
  }

  .error {
    span {
      color: $red;
      opacity: 1;
    }
  }
}