.sidebar {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1em;
  position: relative;
  transition: left .2s;

  &_left {
    @include d(1199) {
      position: absolute;
      padding: 0;
      top: 100px;
      left: -45vw;
      z-index: 11;
      flex: 0 0 45vw;
      max-width: 45vw;
      min-width: 45vw;

      @include d(575) {
        left: -80vw;
        min-width: 80vw;
        max-width: 80vw;
      }

      &_active {
        left: 0;

        @include d(575) {
          left: 0;
        }
      }

    }
  }

  &__button_mob {
    font-size: 14px;
    padding: 2em 1em;
    color: $white;
    background-color: $red;
    position: absolute;
    top: 60px;
    left: 100%;
    border: none;
    display: block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: scale(-1);
    text-transform: uppercase;
    display: none;

    @include d(1199) {
      display: block;
    }
  }

  &__result {
    text-align: center;
    padding: 2em;

    &-text {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 2em;

      span {
        color: $red;
      }
    }

    .button:first-of-type {
      margin-bottom: 0.5em;
    }
  }

  &__img {
    @include border-radius;
    overflow: hidden;

    @include d(1199) {
      display: none;
    }
  }
}