.svg {
  display: inline-block;
  fill: $red;
  width: 2.25em;
  height: 3.18em;
  &-sm {
    width: 1em;
    height: 1em;
  }
  &-md {
    width: 3em;
    height: 3em;
  }
  &-lg {
    width: 5em;
    height: 5em;
  }
}
