// main project styles
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-primary;
  color: $black;
  background-color: $gray-body;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  // overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.main-wrapper {
  min-width: 320px;
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  max-width: 1344px;
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;

  @include d(1499) {
    max-width: 1280px;
  }

  @include d(1299) {
    max-width: 1140px;
  }

  @include d(1199) {
    max-width: 960px;
  }

  // @include d(1199) {
  //   max-width: 960px;
  // }
}

.body_fixed {
  overflow: hidden;
}

// sidebar_left_active
.sidebar__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($black, .6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  display: none;
  transition: z-index .2s, opacity .2s;

  @include d(1199) {
    display: block;
  }

  &_active {
    z-index: 10;
    opacity: 1;
  }
}

.content {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 1em;

  @include d(1199) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;

  &:active,
  &:focus {
    outline: none;
  }

  @include d(1499) {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;

  @include d(1499) {
    font-size: 14px;
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  line-height: 1.25em;
}

.section__tittle {
  font-size: 32px;
  line-height: 1em;

  @include d(1199) {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.33em;
}

section {
  position: relative;
}

// text colors
.white {
  color: $white;
}

.black {
  color: $black;
}

.red {
  color: $red;
}

.telegram {
  background-image: linear-gradient(to right, #41BCE7, #22A6DC);
  border-radius: 50%;
}

.bg-gray {
  background-color: #f5f5f5;
}

.bg-gray-light {
  background-color: #f4f3f0;
}

.bg-yellow {
  background-color: rgba(#ffe2c0, 0.24);
}

.bg-pink {
  background-color: #EAD0CF;
}

.bg-pink-light {
  background-color: rgba($red, .08);
}

.bg-input {
  background-color: $bg-input;
}

.gray-light {
  color: $gray-light;
}

.brown-light {
  color: $brown-light;
}

.brown-dark {
  color: $brown-dark;
}

.yellow-light {
  color: $yellow-light;
}

.red-dark {
  color: $red-dark;
}

.green {
  color: #00ca00;
}

.blue-dark {
  color: $blue-dark;
}

.bg-white {
  background-color: $white;
}

.bg-gray-black {
  background-image: linear-gradient(to right, $gray-light, $black);
}

.bg-white-brown {
  background-image: linear-gradient(to right, $white, $brown-light);
}

.bg-brown-light-dark {
  background-image: linear-gradient(to right, $brown-light, $brown-dark);
}

.bg-yellow-red-dark {
  background-image: linear-gradient(to right, #eccc17, #cc0d12);
}

.bg-green-dark-blue {
  background-image: linear-gradient(to right, #00ca00, #0bbbd9, #0d1a9b);
}

.bg-multy {
  background-image: linear-gradient(to right, #01b9db, #00c2c5, #0fc89f, #6bc871, #a9c344, #c8b532, #e2a432, #f89141, #f17d4e, #e66b5a, #d55d64, #c0526b);
}


.custom-input {
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 0.75em 1em;
  @include border-radius;
  outline: 0;

  @include d(1499) {
    font-size: 14px;
  }

  @include d(1199) {
    font-size: 12px;
  }

  &::-webkit-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: rgba($black, .6);

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }

  &::-moz-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: rgba($black, .6);

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }

  &:-ms-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: rgba($black, .6);

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }

  &::placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: rgba($black, .6);

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }
}

label i {
  opacity: 0;
  font-style: normal;
}

label.error i {
  font-size: 10px;
  opacity: 1;
  color: #be1d24;
  padding-left: 15px;

}

label.error .custom-input {
  border: 1px solid $red;
}

.custom-select {
  font-size: 14px;
  line-height: 1.5em;
  border: none;
  width: 100%;
  padding: 0.750em 3.2em 0.75em 1em;
  border-radius: 7px;
  border: 1px solid $select-border-color;
  text-align: center;
  outline: 0;
  @include border-radius;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  @include d(1499) {
    font-size: 12px;
  }

  @include d(1199) {
    font-size: 10px;
  }
}

.label-select {
  position: relative;
  text-align: center;

  &:before {
    content: url(../img/svg/chevron-down.svg);
    width: 10px;
    height: 7px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -5px;
  }

  &:focus {
    outline: 0;
  }
}

select::-ms-expand {
  display: none;
}

input[type="search"] {
  &:focus {
    outline: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

textarea {
  resize: none;
}

table {
  border-spacing: 0;
}

input[type="checkbox"] {
  width: 1px;
  height: 1px;
  background: none;
  border: none;
  opacity: 0;
}

input[type="radio"] {
  width: 1px;
  height: 1px;
  background: none;
  border: none;
  opacity: 0;

  &:checked~.custom-radio:before {
    transform: translate(-50%, -50%) scale(1);
  }

  &.radio-hidden {
    width: 0;
    height: 0;
  }
}

.radio-hidden {
  &:checked {
    &~.choice-colors {
      border-color: $red;
    }
  }
}


.custom-checkbox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: inline-block;
  background-color: $bg-gray-dark;
  position: relative;
  margin-right: 8px;
  transition: background-color .2s;

  &:before {
    content: url('../img/svg/check.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -3px;
    transition: opacity .2s;
  }
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid $red;
  border-radius: 50%;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: $red;
    border-radius: 50%;
    transition: transform .2s;
  }
}

.abstract-circle {
  display: inline-block;
  border-radius: 50%;
  background-color: #ddd8d2;
  position: absolute;

}

.button {
  font-size: 16px;
  transition: background-color .2s, color .2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 0.68em 1.5em;
  position: relative;
  outline: 0;
  white-space: nowrap;
  height: 40px;
  border: 1px solid transparent;
  &_red {
    border: 1px solid $red;
    color: $white;
    background-color: $red;

    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $red;

      svg {
        fill: $red;
      }
    }
  }

  &_white {
    border: 1px solid $red;
    color: $red;
    background-color: $white;

    &:hover {
      cursor: pointer;
      background-color: $red;
      color: $white;

      svg {
        fill: $white;
      }
    }
  }

  &_lg {
    padding: 0 3.125em;
    border-radius: 28px;
    font-size: 18px;
  }

  @include d(1299) {
    font-size: 14px;
    padding: 0 1em;
  }



  svg {
    fill: $white;
    transition: fill .2s;
    margin-right: 4px;
  }
}

.header-fixed__wrapper {
  width: 100%;
  background-color: #fff;
}