// main project styles
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-primary;
  color: $black;
  background-color: $gray-body;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
}

.main-wrapper {
  // width: 100%;

  @include d(1919) {
    max-width: 1440px;
    margin: 0 auto;
  }
  // @include d()
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  @include d(1499) {
    max-width: 1280px;
  }
  @include d(1199) {
    max-width: 1140px;
    padding: 0 15px;
  }
}

.body_fixed {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;

  &:active,
  &:focus {
    outline: none;
  }

  @include d(1499) {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;

  @include d(1499) {
    font-size: 14px;
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  line-height: 1.25em;
}

h2 {
  font-size: 32px;
  line-height: 1em;
  @include d(1199){
    font-size: 30px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.33em;
}

section {
  position: relative;
}

// text colors
.white {
  color: $white;
}

.black {
  color: $black;
}
.red {
  color: $red;
}
.telegram {
  background-image: linear-gradient(to right, #41BCE7, #22A6DC);
  border-radius: 50%;
}
.bg-gray {
  background-color: #f5f5f5;
}
.bg-gray-light {
  background-color: #f4f3f0;
}
.bg-yellow {
  background-color: rgba(#ffe2c0, 0.24);
}
.bg-pink {
  background-color: #EAD0CF;
}

.gray-light {
  color: $gray-light;
}

.brown-light {
  color: $brown-light;
}

.brown-dark {
  color: $brown-dark;
}

.yellow-light {
  color: $yellow-light;
}

.red-dark {
  color: $red-dark;
}

.blue-light {
  color: $blue-light;
}

.blue-dark {
  color: $blue-dark;
}

.bg-gray-black {
  background-image: linear-gradient(to right, $gray-light, $black);
}
.bg-white-brown {
  background-image: linear-gradient(to right, $white, $brown-light);
}
.bg-brown-light-dark {
  background-image: linear-gradient(to right, $brown-light, $brown-dark);
}

.bg-yellow-red-dark {
  background-image: linear-gradient(to right, $yellow-light, $red-dark);
}

.bg-blue-light-dark {
  background-image: linear-gradient(to right, $blue-light, $blue-dark);
}

.bg-multy {
  background-image: linear-gradient(to right, #f23838, #f3b027 26%, #e13131 69%, #ebcd22);
}


input {
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 12px 16px;

  @include d(1499) {
    font-size: 14px;
  }

  @include d(1199) {
    font-size: 12px;
  }

  &::-webkit-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $black;

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }

  &::-moz-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $black;

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }

  &:-ms-input-placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $black;

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }

  &::placeholder {
    font-family: $font-primary;
    font-size: 16px;
    color: $black;

    @include d(1499) {
      font-size: 14px;
    }

    @include d(1199) {
      font-size: 12px;
    }
  }
}

input[type="search"] {
  &:focus {
    outline: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

textarea {
  resize: none;
}

.abstract-circle {
  display: inline-block;
  border-radius: 50%;
  background-color: #ddd8d2;
  position: absolute;
}