.catalog {
  position: relative;
  &-wrapper {
    padding-top: 130px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
  }
  &__filter_top {
    flex: 1 0 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    p {
      font-size: 14px;
      color: $black-light;
    }
  }
  .filter-description {
    display: flex;
    align-items: center;
  }
  .filter-select {
    display: flex;
    align-items: center;
    &>p {
      margin-right: 19px;
    }
    .label-select:first-of-type {
      margin-right: 19px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
}
.range__wrapper {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 32px 24px;
  .custom-input {
    max-width: 128px;
    &:first-child {
      margin-right: 8px;
    }
  }
}

.filter {
  background-color: $white;
  @include border-radius;
  padding-top: 24px;
  &>p {
    padding-left: 24px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__item {
    font-weight: 500;
    // padding-top: 1em;
    position: relative;
    &:first-child {
      border-top: 1px solid $list-border;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $list-border;
    }
    &:before {
      content:  url('../img/svg/chevron-down.svg');
      position: absolute;
      display: inline-block;
      width: 12px;
      height: 12px;
      right: 20px;
      top: 10px;
      transform: translateY(50%);
    }
    &>span {
      padding: 1em 1.5em;
      display: block;
      transition: background-color .2s;
      &:hover {
        cursor: pointer;
        background-color: $bg-input;
      }
    }
  }
  &__list-sub {
    position: relative;
    background-color: $bg-input;
    &__item {
      font-weight: 400;
      &:first-child {
        border-top: 1px solid $list-border;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $list-border;
      }
      label {
        display: block;
        padding: 1em 1.5em;
      }
      input[type="checkbox"]:checked {
        &~.custom-checkbox {
          background-color: $green;
          &:before {
            opacity: 1;
            fill: red;
          }
        }
      }
    }
  }
}