.catalog {
  position: relative;
  &-wrapper {
    padding-top: 130px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  &__filter_top {
    flex: 1 0 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    p {
      font-size: 14px;
      color: $black-light;
    }
  }
  .filter-description {
    display: flex;
    align-items: center;
  }
  .filter-select {
    display: flex;
    align-items: center;
    &>p {
      margin-right: 19px;
    }
    .label-select:first-of-type {
      margin-right: 19px;
    }
  }

  // &__content {

  // }
}
.range__wrapper {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  .custom-input {
    max-width: 128px;
    &:first-child {
      margin-right: 8px;
    }
  }
}

.filter {
  background-color: $white;
  @include border-radius;
  padding: 24px;
  &>p {
    font-weight: 500;
    margin-bottom: 8px;
  }
}