.main {
  padding-top: 96px;

  // margin-bottom: 112px;
  @include d(1199) {
    padding-top: 60px;
  }

  &-banner {
    display: flex;

    @include d(991) {
      flex-direction: column;
    }
  }

  &-slider {
    position: relative;
    @include border-radius;
    flex: 0 0 75%;
    max-width: 75%;
    max-height: 480px;

    @include d(1199) {

      max-height: 400px;
    }

    @include d(991) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }

    &__navigation {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 1;
      left: 0;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }

    &__pagination {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      max-width: 74px;
      width: 100%;
      z-index: 1;

      li {
        width: 16px;
        height: 16px;
        display: block;
        background-color: rgba($white, .8);
        border-radius: 50%;
        transition: .2s;

        button {
          width: 0;
          height: 0;
          opacity: 0;
        }
      }

      .slick-active {
        background-color: $red;
      }
    }

    &__item {
      picture {
        height: 100%;

        img {
          @include border-radius;
          object-fit: cover;
          height: 480px;

          @include d(1199) {
            max-height: 400px;
            height: 100%;
          }
        }
      }
    }
  }
}

.main-slider__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  background-color: rgba($gray-bg, .8);
  transition: background-color .2s;

  .svg {
    fill: $black;
    transition: fill .2s;
  }

  &:hover {
    background-color: $gray-bg;

    .svg {
      fill: $red;
    }
  }
}

.link-box__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 16px;
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;


  @include d(1199) {
    padding-right: 15px;
  }

  @include d(991) {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    flex-direction: row;
    margin-left: 0;
  }
}

.link-box {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include border-radius;
  padding: 24px 32px;
  width: 100%;
  height: 232px;

  @include d(1199) {
    padding: 20px;
    max-height: 192px;
    height: 100%;
  }

  @include d(991) {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  &:first-child {
    @include d(991) {
      margin-right: 15px;
    }
  }

  &:last-child {
    @include d(991) {
      margin-left: 15px;
    }
  }

  .svg {
    align-self: flex-end;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.shape {
  padding-top: 100px;
  padding-bottom: 100px;

  @include d(1199) {
    padding: 60px 0;
  }
  @include d(767) {
    padding: 30px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 90px;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include d(991) {
      flex-direction: column-reverse;
    }
  }

  &-img {
    flex: 0 0 25%;
    // margin-right: 80px;
    position: relative;

    // @include d(1199) {
    //   margin-right: 40px;
    // }

    @include d(991) {
      max-width: 500px;
      margin: 0 auto;
      padding: 0 15px;
    }


    picture {
      position: relative;
    }

    .abstract-circle {
      &:first-child {
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
      }

      &:nth-child(2n) {
        width: 28px;
        height: 28px;
        right: 8%;
        top: 25%;
      }

      &:nth-child(3) {
        width: 140px;
        height: 140px;
        bottom: 0;
        left: 50%;
        z-index: 0;
        transform: translateX(-50%);
      }
    }
  }

  &__list {
    flex: 0 0 75%;
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    justify-content: space-between;

    @include d(1199) {
      // padding-right: 15px;
      // margin: 0;
    }

    @include d(991) {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }

    &-item {
      width: 100%;
      max-width: 33.33333%;
      padding: 0 15px;
      margin-bottom: 30px;

      @include d(767) {
        max-width: 50%;
        margin-bottom: 15px;
      }

      @include d(480) {
        max-width: 100%;
      }
    }

    &-link {
      width: 100%;
      height: 100%;
      background-color: $white;
      @include border-radius;
      @include box-shadow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      font-weight: 400;
      transition: box-shadow .2s, font-weight .2s, color .2s;

      @include d(1199) {
        padding: 16px;
      }

      @include d(991) {
        padding: 10px;
      }

      &:hover {
        @include box-shadow-active;
        color: $red;
        font-weight: 500;
      }

      .svg {
        width: 72px;
        height: 72px;

        @include d(1199) {
          width: 56px;
          height: 56px;
        }
      }
    }
  }

}

.type {
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
  @include d(991) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 95px;
    text-align: center;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &-item {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 30px;
      padding: 0 15px;
      height: 150px;
      max-height: 150px;

      @include d(1199) {
        height: 110px;
      }

      @include d(991) {
        height: 100px;
        flex: 1 1 50%;
        max-width: 50%;
      }

      @include d(480) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    &-link {
      width: 100%;
      background-color: rgba($black, .4);
      @include border-radius;
      height: 100%;
      position: relative;
      box-shadow: 0 0 0 transparent;
      transform: scaleY(1);
      transition: box-shadow .2s, transform .2s;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($black, .4);
        transition: background-color .2s;
        @include border-radius;
      }

      &:hover {

        @include box-shadow-active;
        transform: scaleY(1.1);

        &:before {
          background-color: rgba($black, .2);
        }

        span {
          left: 50%;
          bottom: 50%;
          transform: translate(-50%, 50%) scaleY(0.9);
        }
      }

      img {
        @include border-radius;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      span {
        color: $white;
        font-size: 26px;
        line-height: 1.1em;
        position: absolute;
        display: table;
        bottom: 24px;
        left: 24px;
        transform: scale(1);
        transition: left .2s, bottom .2s, transform .2s;

        @include d(1199) {
          font-size: 20px;
        }

        @include d(991) {
          font-size: 18px;
        }
      }
    }
  }

}

.show-all {
  padding: 8px 21px;
  background-color: $white;
  border-radius: 20px;
  color: $red;
  transition: color .2s, background-color .2s;
  max-width: 144px;
  text-align: center;

  &:hover {
    color: $white;
    background-color: $red;
  }
}

.material {
  padding: 60px 0;
  @include d(767) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 95px;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @include d(991) {
      flex-direction: column;
    }
  }

  &__list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;

    @include d(991) {
      width: 100%;
    }

    @include d(480) {
      margin-bottom: 20px;
    }

    &-item {
      height: 72px;
      flex: 0 0 33.33333%;
      padding: 0 15px;
      margin-bottom: 32px;

      @include d(1199) {
        height: 62px;
      }

      @include d(767) {
        flex: 1 1 50%;
        max-width: 50%;
      }

      @include d(480) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    &-link {
      background-color: $white;
      @include border-radius;
      @include box-shadow;
      transition: box-shadow .2s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 15px;

      &:hover {
        @include box-shadow-active;
      }
    }
  }


  &-img {
    width: 50%;
    position: relative;
    z-index: 1;

    @include d(991) {
      width: 100%;
    }

    .abstract-circle {
      &:first-child {
        width: 72px;
        height: 72px;
        top: -30px;
        right: 0;
      }

      &:nth-child(2) {
        width: 94px;
        height: 94px;
        top: 1%;
        left: 29%;
        z-index: 0;
      }
    }



    picture {
      position: relative;
      top: -20px;
      max-width: 523px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.category {
  padding: 60px 0;
  text-align: center;
  @include d(767) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 95px;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    &-item {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 30px;
      padding: 0 15px;
      height: 150px;
      max-height: 150px;

      @include d(1199) {
        height: 110px;
      }

      @include d(991) {
        height: 100px;
        flex: 1 1 50%;
        max-width: 50%;
      }

      @include d(480) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    &-link {
      width: 100%;
      background-color: rgba($black, .4);
      @include border-radius;
      height: 100%;
      position: relative;
      box-shadow: 0 0 0 transparent;
      transform: scaleY(1);
      transition: box-shadow .2s, transform .2s;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($black, .4);
        transition: background-color .2s;
        @include border-radius;
      }

      &:hover {

        @include box-shadow-active;
        transform: scaleY(1.1);

        &:before {
          background-color: rgba($black, .2);
        }

        span {
          left: 50%;
          bottom: 50%;
          transform: translate(-50%, 50%) scaleY(0.9);
        }
      }

      img {
        @include border-radius;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      span {
        color: $white;
        font-size: 26px;
        line-height: 1.1em;
        position: absolute;
        display: table;
        bottom: 24px;
        left: 24px;
        transform: scale(1);
        transition: left .2s, bottom .2s, transform .2s;

        @include d(1199) {
          font-size: 20px;
        }

        @include d(991) {
          font-size: 18px;
        }
      }
    }
  }
}

.colors {
  padding: 60px 0;
  @include d(767) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 95px;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &-item {
      flex: 1 1 180px;
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
      margin-bottom: 16px;

      @include d(1199) {
        flex: 1 1 300px;
      }
    }

    &-link {
      display: block;

      div {
        height: 72px;
        @include border-radius;
        width: 100%;
        margin-bottom: 24px;
        transition: box-shadow .2s;

        &:hover {
          @include box-shadow-active;
        }

        @include d(1199) {
          height: 62px;
          margin-bottom: 16px;
        }
      }

      p {
        padding-right: 20px;
      }
    }
  }


}

.pile-height {
  padding: 60px 0;
  @include d(767) {
    padding: 30px 0;
  }
  h2 {
    margin-bottom: 95px;
    text-align: center;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &-item {
      flex: 0 0 25%;
      padding: 0 15px;
      max-height: 150px;
      margin-bottom: 16px;

      @include d(1199) {
        height: 110px;
      }

      @include d(991) {
        height: 100px;
        flex: 1 1 50%;
        max-width: 50%;
      }

      @include d(480) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    &-link {
      background-color: $white;
      @include border-radius;
      @include box-shadow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      transition: box-shadow .2s;

      @include d(1199) {
        height: 100px;
        padding: 16px;
      }

      @include d(991) {
        padding: 10px;
      }

      &:hover {
        @include box-shadow-active;

        .pile-img {
          &:before {
            background-color: rgba($black, .2);
          }

          img {
            transform: scale(1.2);
          }
        }

      }

    }
  }

  .pile-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    @include d(1199) {
      width: 70px;
      height: 70px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, .4);
      border-radius: 50%;
      transition: background-color .2s;
    }

    img {
      border-radius: 50%;
      transform: scale(1);
      transition: transform 2s;
    }
  }
}

.type-room {
  padding: 60px 0;
  @include d(767) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 95px;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__content {
    position: relative;
  }

  &__img {
    position: absolute;
    left: 0;
    width: 40%;
    z-index: 1;

    @include d(991) {
      position: static;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 30px;
    }

    .abstract-circle {
      &:first-child {
        width: 50px;
        height: 50px;
        top: -10px;
        left: 10%;
      }

      &:nth-child(2) {
        width: 90px;
        height: 90px;
        right: 8%;
        top: 25%;
        z-index: -1;
      }

      &:nth-child(3) {
        width: 220px;
        height: 220px;
        bottom: -60px;
        left: -15%;
        z-index: -1;
      }
    }
  }

  &__list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0 auto;

    @include d(991) {
      width: 100%;
      margin: 0;
    }

    &-item {
      flex-basis: 0;
      flex-grow: 1;
      width: 50%;
      min-width: 50%;
      padding: 0 15px;

      @include d(480) {
        flex: 1 1 100%;
      }
    }

    &-link {
      @include border-radius;
      @include box-shadow;
      margin-bottom: 32px;
      height: 152px;
      position: relative;
      width: 100%;
      transition: box-shadow .2s;

      @include d(1199) {
        height: 112px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, .4);
        @include border-radius;
        z-index: 1;
        transition: background-color .2s;
      }

      &:hover {
        @include box-shadow-active;

        &:before {
          background-color: rgba($black, 0.24);
        }
      }


      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        z-index: 2;
        font-weight: 500;
        font-size: 26px;

        @include d(1199) {
          font-size: 24px;
        }
      }

      picture {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          @include border-radius;
          object-fit: cover;
        }
      }
    }
  }
}

.user-gallery {
  margin-top: 110px;
  margin-bottom: 50px;

  @include d(991) {
    margin-top: 0;
    padding: 30px 15px;
  }

  &:before {
    content: "";
    background-color: #EAD0CF;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: -1;
    @include d(991) {
      top: 0;
      bottom: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__img {
    display: flex;
    flex: 0 0 75%;
    // @include d(991) {
    //   flex-direction: row;
    //   flex: 0 0 100%;
    //   flex-wrap: wrap;
    // }
  }

  &-head {
    flex: 0 0 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    // @include d(991) {
    //   flex-direction: row;
    //   flex: 0 0 100%;
    //   align-items: flex-start;
    //   justify-content: space-between;
    // }
    h2 {
      margin-top: 135px;
      max-width: 300px;
      margin-bottom: 45px;
      @include d(991) {
        margin-top: 0;
      }
    }

    img {
      margin-top: 85px;
      height: auto;
      max-width: 250px;

      @include d(1199) {
        margin-top: 25px;
        max-width: 180px;
      }
      // @include d(991) {
      //   margin-top: 0;
      // }
    }
  }

  &-box {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;

    // @include d(991) {
    //   display: flex;
    //   justify-content: space-between;
    //   flex-wrap: wrap;
    // }
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // @include d(991) {
      //   flex-direction: row;
        
      // }
    }
  }

  &-item {
    @include border-radius;
    overflow: hidden;
    height: 230px;

    @include d(1199) {
      height: 180px;
    }
    // @include d(991) {
    //   margin: 0 15px;
    // }

    img {
      @include border-radius;
      transform: scale(1.2);
      min-width: 200px;
      @include d(991) {
        max-width: 220px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &_top {
      position: relative;
      top: -45px;
      left: -20px;

      @include d(1199) {
        top: -15px;
      }

      img {
        transform: scale(1);
        height: auto;
      }
    }
  }
}

.partners {
  padding: 60px 0;
  @include d(767) {
    padding: 30px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 95px;

    @include d(1199) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-item {
      max-width: 260px;
      width: 100%;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include d(1199) {
        margin: 20px;
      }

      img {
        width: auto;
        filter: grayscale(1);
      }
    }
  }
}

.photo {
  padding-top: 80px;
  padding-bottom: 45px;

  @include d(1199) {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  h2 {
    text-align: center;
    margin-bottom: 95px;
    padding: 0 400px;
    line-height: 1.25em;

    @include d(1199) {
      margin-bottom: 60px;
      padding: 0 260px;
    }

    @include d(1100) {
      padding: 0 230px;
    }

    @include d(991) {
      padding: 0 150px;
    }

    @include d(767) {
      padding: 0 100px;
    }

    @include d(700) {
      padding: 0 15px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    @include d(767) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.333%;
    padding: 0 30px;

    @include d(991) {
      padding: 0 15px;
    }

    @include d(767) {
      margin-bottom: 30px;
      width: 100%;
    }

    .svg {
      margin: 0 auto 50px;

      @include d(1199) {
        margin: 0 auto 30px;
      }

      @include d(767) {
        margin: 0 auto 10px;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.33em;

      @include d(991) {
        font-size: 16px;
      }

      @include d(767) {
        padding: 0 60px;
      }
    }
  }
}

.messengers {
  padding-top: 45px;
  padding-bottom: 185px;

  @include d(1199) {
    padding-top: 30px;
  }

  @include d(991) {
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
      height: 88px;
      flex: 0 0 25%;

      @include d(991) {
        margin-bottom: 16px;
        flex: 1 1 50%;
        max-width: 50%;
      }

      @include d(480) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    &-link {
      @include border-radius;
      @include box-shadow;
      background-color: $white;
      padding: 24px;
      height: 100%;
      display: flex;
      align-items: center;
      transition: box-shadow .2s;

      @include d(1199) {
        padding: 16px;
      }

      @include d(991) {
        padding: 10px;
      }

      &:hover {
        @include box-shadow-active;
      }
    }
  }

  &-content {
    span {
      color: $gray-light;
    }
  }

  &-img {
    margin-right: 20px;

    @include d(1199) {
      margin-right: 10px;
    }
  }
}

.gallery {
  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -50%;
    transform: translateY(-50%);

    @include d(991) {
      position: static;
      transform: translateY(0);
    }

    &-item {
      flex: 0 0 25%;
      padding: 0 15px;

      @include d(991) {
        flex: 1 1 50%;
        margin-bottom: 16px;
        height: auto;
      }

      @include d(480) {
        flex: 1 1 100%;
        max-width: 100%;
      }

      img {
        @include border-radius;
        @include box-shadow;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: safe;
        height: 100%;

        // @include d(1199) {
        //   height: 180px;
        // }
        // @include d(991) {
        //   height: auto;
        // }
      }
    }
  }
}