.news-page {
  &-wrapper {
    margin: 0 -1em;

    padding-top: 40px;
    padding-bottom: 110px;

    @include d(1299) {
      padding: 40px 0;
    }

    @include d(1199) {
      padding: 40px 0;
    }

    @include d(991) {
      padding: 40px 0;
    }
  }

  &__wrapper {
    padding: 0 1em;
  }

  &__article {
    background-color: $white;
    @include border-radius;
    @include box-shadow;
    padding: 32px 36px 22px 36px;
    margin-bottom: 2em;

    &>a {
      position: relative;
      color: rgba($black, .6);
      padding-left: 25px;

      .svg {
        fill: rgba($black, .6);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__content {
    padding-top: 1.5em;
    display: flex;
    align-items: flex-start;

    @include d(991) {
      flex-wrap: wrap;
    }
  }

  &__img {
    @include border-radius;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 30px;

    @include d(991) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 1em;
    }

    img {
      @include border-radius;

    }
  }

  &__text {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;

    @include d(991) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    span {
      font-size: 14px;
      color: rgba($black, .6);
    }

    h4 {
      font-size: 24px;
      margin-bottom: 33px;
    }

    p {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 80px;

        @include d(1299) {
          margin-bottom: 60px;
        }

        @include d(1199) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__social {
    border-top: 1px solid $gray-body;
    padding-top: 32px;
    display: flex;

    p {
      font-size: 14px;
      margin-right: 20px;
      color: rgba($black, .6);
      margin-bottom: 0;
      margin-bottom: 10px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        color: rgba($black, .6);
        font-size: 14px;
        margin-right: 20px;
        margin-bottom: 10px;
        a {
          display: flex;
          align-items: center;

          .svg {
            margin-right: 10px;
            fill: rgba($black, .6);
            position: relative;
            top: -2px;
          }
        }
      }
    }

  }
}