.registration {
  &-wrapper {
    padding: 100px 0;
  }
  &-content {
    // padding: 0 15px;
    background-color: $white;
    @include border-radius;
    max-width: 640px;
    margin: 0 auto;
    padding: 64px 110px 40px 110px;
    @include d(991) {
      padding: 40px 80px 40px 80px;
    }
    @include d(767) {
      padding: 20px 40px 20px 40px;
    }
    h4 {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 55px;
    }
  }
  &__form {
    text-align: center;
    label {
      display: block;
      margin-bottom: 6px;
      text-align: left;
    }
    i {
      opacity: 0;
      font-style: normal;
    }
    .error {
      .custom-input {
        border: 1px solid $red;
      }
      i {
        font-size: 10px;
        opacity: 1;
        color: $red;
        padding-left: 15px;
      }
    }

  }
  &__links {
    text-align: center;
    margin-bottom: 40px;
    a {
      color: $red;
      @include d(400) {
        font-size: 12px;
      }
      span {
        text-decoration: underline;
      }
    }
  }
  .button {
    background-color: $red;
    border: none;
    padding: 12px 47px;
    @include border-radius;
    color: $white;
    border: 1px solid $red;
    transition: background-color .2s, color .2s;
    margin-bottom: 40px;
    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $red;
    }
  }
}
