.try-on {
  &-heading {
    margin: 0 -1em;
    padding-top: 80px;
    padding-bottom: 24px;

    @include d(1199) {
      padding-top: 60px;
    }

    @include d(991) {
      padding-top: 40px;
    }
    .section__tittle {
      margin-bottom: 2em;
      padding: 0 16px;
      text-transform: uppercase;
    }
  }
  &-wrapper {
    padding: 60px 0;
    .section__tittle {
      text-align: center;
      padding: 0 340px;
      margin-bottom: 50px;
      @include d(1299) {
        padding: 0 260px;
      }
      @include d(1199) {
        padding: 0 220px;
      }
      @include d(991) {
        padding: 0 180px;
      }
      @include d(820) {
        padding: 0 100px;
      }
      @include d(660) {
        padding: 0 40px;
      }
      @include d(500) {
        padding: 0;
      }
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    &>h3 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 16px;
      margin-bottom: 16px;
    }
  }
  &-information {
    padding: 48px 0 64px 0;
    h3 {
      text-align: center;
      margin-bottom: 48px;
      @include d(991) {
        margin-bottom: 30px;
      }
      @include d(767) {
        margin-bottom: 18px;
      }
    }
    p {
      font-size: 18px;
      text-align: center;
      margin-bottom: 64px;
      @include d(991) {
        margin-bottom: 40px;
      }
      @include d(767) {
        margin-bottom: 20px;
      }
    }
  }
}
.information__content {
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  @include d(991) {
    max-width: 80%;
  }
  @include d(767) {
    max-width: 100%;
  }
}
.form-information {
  text-align: center;
  max-width: 416px;
  margin: 0 auto;
  input {
    margin-bottom: 48px;
  }
  .button {
    background-color: #be1d24;
    border: none;
    padding: 12px 47px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #be1d24;
    -webkit-transition: background-color .2s,color .2s;
    -o-transition: background-color .2s,color .2s;
    transition: background-color .2s,color .2s;
    &:hover {
      background-color: $white;
      color: $red;
      cursor: pointer;
    }
  }
}