.user-order {
  position: relative;

  &-wrapper {
    padding-top: 80px;
    padding-bottom: 110px;
    margin: 0 -1em;

    @include d(1499) {
      margin: 0;
    }

    @include d(1299) {
      padding: 60px 0;
    }

    @include d(1199) {
      padding: 40px 0;
    }

    &>h1 {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }

  &-content {
    display: flex;
    margin: 0 -1em;

    @include d(767) {
      flex-direction: column;
    }
  }

  &-cart__wrapper {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0 1em;

    @include d(1199) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
    }
  }

  &__details {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    background-color: $gray-bg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    p {
      font-size: 14px;

      span {
        margin-left: 20px;
      }
    }
  }


  &-cart {
    padding: 0 0 1.5em 0;
    @include border-radius;
    background-color: $white;
    @include box-shadow;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    @include d(991) {
      flex-direction: column;
    }

    &__container {
      padding: 24px;
      display: flex;
      @include d(1199) {
        flex-wrap: wrap;
      }
    }

    &__img {
      flex: 0 0 25%;
      max-width: 25%;
      @include border-radius;
      padding-right: 30px;

      @include d(991) {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 16px;
      }

      @include d(767) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      img {
        object-fit: cover;
        @include border-radius;
        margin-bottom: 16px;
      }
    }

    &__tittle {
      padding-top: 16px;
      flex: 0 0 30%;
      max-width: 30%;
      @include d(991) {
        flex: 0 0 50%;
        max-width: 50%;
        order: 1;
      }
      @include d(767) {
        flex: 0 0 100%;
        max-width: 100%;
        order: 0;
        margin-bottom: 16px;
      }
      h4 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }

    &__tottal {
      flex: 0 0 30%;
      max-width: 30%;
      margin-left: auto;
      margin-right: 0;
      @include d(991) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include d(767) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      table {
        width: 100%;
        max-width: 250px;
        @include d(767) {
          font-size: 14px;
        }
        @include d(580) {
          font-size: 12px;
        }
        tr {
          &:last-child td:first-child {
            font-size: 16px;
            @include d(767) {
              font-size: 14px;
            }
            @include d(580) {
              font-size: 12px;
            }
          }

          &:last-child td {
            padding-top: 16px;
          }

          td {
            padding-bottom: 8px;

            &:first-child {
              color: rgba($black, .6);
              font-size: 14px;
              @include d(767) {
                font-size: 14px;
              }
              @include d(580) {
                font-size: 12px;
              }
            }

            &:last-child {
              color: $black;
              font-size: 16px;
              font-weight: 600;
              text-align: right;
              @include d(767) {
                font-size: 14px;
              }
              @include d(580) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .details {
      margin-left: 24px;
    }

    &__table {
      margin-top: 16px;
      border-top: 1px solid $gray-bg;

      table {
        margin: 1.5em 1.5em 0 1.5em;
        @include d(767) {
          font-size: 14px;
        }
        @include d(580) {
          font-size: 12px;
        }
        td {
          padding: .7em 1em;
          color: $black;

          &:first-child {
            color: rgba($black, .6);
            width: 40%;
          }
        }

        tr:nth-child(2n+1) {
          background-color: $gray-bg;


        }
      }
    }
  }

  &-sidebar__wrapper {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 1em;
    transition: right .2s;
    @include d(1199) {
      position: fixed;
      padding: 0;
      top: 20%;
      right: -45vw;
      z-index: 10;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 45vw;
      -ms-flex: 0 0 45vw;
      flex: 0 0 45vw;
      max-width: 45vw;
      min-width: 45vw;
    }

    .sidebar__button_mob {
      left: -49px;
    }
  }

  &-sidebar {
    padding: 24px 16px;
    @include border-radius;
    background-color: $white;
    @include box-shadow;



    @include d(1199) {
      padding: 1em;
    }

    h4 {
      font-size: 22px;
      text-transform: uppercase;
    }

  }

  &__list {
    li {
      @include border-radius;
      transition: background-color .2s;

      &:hover {
        background-color: $red;

        & a {
          color: $white;
        }
      }

      a {
        display: block;
        padding: 16px 24px;
        transition: color .2s;
      }
    }
  }
}

.user-order-sidebr_active {
  background-color: $red;

  a {
    color: $white;
  }
}

.tottal-price {
  background-color: $gray-bg;
  @include border-radius;
  display: flex;
  padding: 12px 18px;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  margin-bottom: 20px;

  p {
    font-size: 14px;
    font-weight: 600;
  }

  span {
    font-size: 24px;
    font-weight: 600;
  }
}

.sidebar_right_acive {
  @include d(1199) {
    right: 0;
  }

}
.wrapper__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  display: none;
  -webkit-transition: z-index .2s,opacity .2s;
  -o-transition: z-index .2s,opacity .2s;
  transition: z-index .2s,opacity .2s;
  @include d(1199) {
    display: block;
  }
  &_active {
    z-index: 3;
    opacity: 1;
  }
}