// project fonts
$font-primary: "Montserrat", "Arial", "Helvetica", sans-serif;


// colors
$white: #ffffff;
$gray: #aeb5ba;
$gray-light: #e1e8ed;
$gray-lighter: #f6f6f7;
$blue: #13b5f7;
$blue-dark: #00a4fd;
$black: #1e2021;