// project fonts
$font-primary: "Rubik", "Arial", "Helvetica", sans-serif;


// colors
$white: #ffffff;
$white-bg: #f9f9f9;

$black: #000000;
$red: #be1d24;

$gray-body: #f4f3f0;
$gray-bg: #f5f5f5;

$pink-bg: #ffe2c0;