// project fonts
$font-primary: "Rubik", "Arial", "Helvetica", sans-serif;


// colors
$white: #ffffff;
$white-bg: #f9f9f9;

$black: #000000;
$red: #be1d24;

$gray-body: #f4f3f0;
$gray-bg: #f5f5f5;

$pink-bg: #ffe2c0;

$gray-light: #a1a1a1;
$brown-light: #bdac90;
$brown-dark: #56462c;
$yellow-light: #eccc17;
$red-dark: #890d12;
$blue-light: #0bbbd9;
$blue-dark: #0d1a9b;

